{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-var": [
      "error"
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": true,
        "classes": true
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-global-assign": [
      "error",
      {
        "exceptions": [
          "Object"
        ]
      }
    ]
  }
}